[submodule "02-intro-javascript"]
	path = 02-intro-javascript
	url = https://github.com/Brandddd/02-intro-javascript.git
[submodule "03-counter-app-vite"]
	path = 03-counter-app-vite
	url = https://github.com/Brandddd/03-counter-app-vite.git
[submodule "03-counter-app-cra"]
	path = 03-counter-app-cra
	url = https://github.com/Brandddd/03-counter-app-cra.git
